body {
    background-color: rgb(248, 218, 218);
}

.heading {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: green;
    font-weight: 500;

}


.input {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.add-item,
.quantity {
    width: 15%;
    padding-right: 50px;
}

.groc-input-box,
.quant-input-box {
    width: 100%;
    height: 5vw;
    border: none;
    padding-left: 10px;
    font-size: 20px;

}

.add-btn {
    background-color: lawngreen;
    font-weight: bold;
    margin-top: 5vw;
    width: 10vmin;
    height: 5vmin;
    border: none;
    transition: ease-in-out;
}

.add-btn:hover {
    transform: scale(1.02);
    opacity: 0.7;
}


.groc-warning,
.quant-warning {
    color: red;
    font-size: large;
}

.hide-quant-warn,
.hide-groc-warn {
    display: none;
}

.reminder {
    color: crimson;
    margin-top: 20px;
    font-size: 2vw;
    background-color: white;
    padding-left: 15px;
}

.info {
    color: blue;
    font-size: 2vw;
    background-color: white;
    margin-top: 20px;
    padding-left: 15px;
}

.list-display {
    width: 60%;
    margin-left: 25px;

}

.hidden {
    display: none;
}

.list-of-items,
.list-of-cart {
    margin-top: 5px;
    font-size: larger;
    color: black;
    font-weight: bold;

}


li {
    margin-bottom: 5px;
    position: relative;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    width: 50%;
    list-style: none;
    box-shadow: 0px 0px 5px 2px rgb(252, 168, 182);
    transition: 300ms ease-in-out;
    height: 30px;
}

.item {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.delete-btn {
    transition: all 300ms;
    color: maroon;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    right: 20px;
}

.value {
    pointer-events: none;
}

li:hover {
    transform: scale(1.05);

}

li:hover .delete-btn {
    pointer-events: all;
    opacity: 1;
}